<div class="inmodal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" >
	       <span class="glyphicon glyphicon-remove"></span>
	    </button>
		<h2 class="text-center">Formulario de {{formType}}</h2>
	</div>
	<form>
		<div class="modal-body">
			<input type="text" ng-model="contact.name" name="name" placeholder="Nombre" class="form-control input-sm" required><br>

			<input type="email" ng-model="contact.email" name="email" placeholder="Correo electrónico" class="form-control input-sm" required><br>

			<input type="text" ng-model="contact.address" name="address" placeholder="Dirección" class="form-control input-sm" required><br>

			<input type="tel" ng-model="contact.telephone" name="telephone" placeholder="Telefono" class="form-control input-sm" required><br>
		</div>
		<div class="modal-footer">
			<label ng-show="loadingCreation" class="text-primary text-center">Cargando...</label>
			<button class="btn btn-primary btn-sm" ng-click="ok()">{{buttomType}}</button>
			<button class="btn btn-danger btn-sm" ng-click="cancel()">Cancelar</button>
		</div>
	</form>
</div>